/* stylelint-disable font-family-no-missing-generic-family-keyword */

/* stylelint-disable font-family-name-quotes */

/* stylelint-disable no-duplicate-selectors */
body {
  background-image: url('https://data.1freewallpapers.com/detail/space-stars-sky-night-astronomy.jpg');
  box-sizing: border-box;
  font-family: 'Trebuchet MS' , 'Lucida Sans Unicode';
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(11, 11, 34);
  color: white;
  display: flex;
}

header {
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planetImage {
  border-radius: 50%;
  flex-direction: row;
  transition: 0.3s;
  width: 180px;
}

.planetImage:hover {
  box-shadow: 0 0 25px whitesmoke;
}

.planetContainer {
  display: flex;
}

.missionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.missionsCard {
  border: solid 1px white;
  height: 200px;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.3s;
  width: 300px;
}

.missionsCard:hover {
  box-shadow: 0 0 25px whitesmoke;
}

h2 {
  font-size: x-large;
  text-align: center;
  text-shadow: 0 0 25px whitesmoke;
}

h1 {
  font-size: xx-large;
  text-align: center;
  text-shadow: 0 0 25px whitesmoke;
}
