body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  background-image: url('https://data.1freewallpapers.com/detail/space-stars-sky-night-astronomy.jpg');
}

body{
  background-color: rgb(11, 11, 34);
  color: white;
  display: flex;
}

header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  justify-content: center;
}
.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planetImage {
  width: 200px;
  flex-direction: row;
  border-radius: 50%;
  transition: 0.3s;
}
.planetImage:hover {
  box-shadow: 0 0 25px whitesmoke;
}

.planetContainer {
  display: flex;
}

.missionsContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.missionsCard{
  width: 300px;
  height: 200px;
  border: solid 1px white;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.3s;
}
.missionsCard:hover{
  box-shadow: 0 0 25px whitesmoke;
}

h2{
  text-align: center;
  text-shadow: 0 0 25px whitesmoke;
  font-size: x-large;
}

h1{
  text-align: center;
  text-shadow: 0 0 25px whitesmoke;
  font-size: xx-large;
}
